<%- layout('layouts/main.ejs')%>

<style>   
    .bg {
      background-image: url("images/landing2.jpg");
    }
</style>

    <div class="bg">
        <div class="mask">
        <div class="caption">
            <h1><span class="border">EL MERCAT</span></h1>
            <br>
            <h1><span class="border"> A CASA</span></h1>
        </div>
        </div>
    </div>

    
    <section class="tekman-cont">
        <div class="section-cont">
            <div class="tekman-grid">
                <div class="card mb-4 mt-4 mr-3 ml-3">
                    <img class="img-land" src="images/cireres.jpeg">
                    <div class="card-body">
                      <p class="card-text">Un dels punts mes forts de Cal Ramon es la seva gran qualitat i varietat de cireres.</p>
                    </div>
                </div>
                <div class="card mb-4 mt-4 mr-3 ml-3">
                    <img class="img-land" src="images/cistell.jpg">
                    <div class="card-body">
                      <p class="card-text">Cal Ramon te moltes varietats de fruita, verdura, llegums i oli.</p>
                    </div>
                </div>
                <div class="card mb-4 mt-4 mr-3 ml-3">
                    <img class="img-land" src="images/masia7.png">
                    <div class="card-body">
                      <p class="card-text">La masia de Cal Ramon porta mes de 200 anys treballant el camp.</p>
                    </div>
                </div>
                <div class="card mb-4 mt-4 mr-3 ml-3">
                    <img class="img-land" src="images/mongetes.jpg">
                    <div class="card-body">
                      <p class="card-text">La verdura que mes destaca per la seva qualitat a Cal Ramon es la seva mongeta vermella.</p>
                    </div>
                </div>
                <div class="card mb-4 mt-4 mr-3 ml-3">
                    <img class="img-land" src="images/uploads/aceite.jpg">
                    <div class="card-body">
                      <p class="card-text">Cal Ramon te un oli d'olives arbequines de molta qualitat.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="temporada">
    <section>
        <img class="img-long" src="images/landing-long.jpg">
    </section>
    <section class="tekman-cont">
        <div class="section-cont">
            <h2>Productes de temporada</h2>
            <div class="tekman-grid">
                <div class="card mb-4 mt-4 mr-3 ml-3">
                    <img src="images/cireres.jpeg" class="card-img-top" />
                    <div class="card-body text-center">
                        <p>Cireres Summit</p>
                        <p>de cal Ramon</p>
                        <a href="/fruita" type="button" class="btn btn-primary mt-3">Ves</a>
                    </div>
                </div>
                <div class="card mb-4 mt-4 mr-3 ml-3">
                    <img src="images/uploads/aceite-oliva.png" class="card-img-top" />
                    <div class="card-body text-center">
                        <p>Oli d'oliva</p>
                        <p>de cal Ramon</p>
                        <a href="/oli" type="button" class="btn btn-primary mt-3">Ves</a>
                    </div>
                </div>
                <div class="card mb-4 mt-4 mr-3 ml-3">
                    <img src="images/uploads/lechuga.png" class="card-img-top" />
                    <div class="card-body text-center">
                        <p>Enciam</p>
                        <p>de cal Ramon</p>
                        <a href="/verdura" type="button" class="btn btn-primary mt-3">Ves</a>
                    </div>
                </div>
                <div class="card mb-4 mt-4 mr-3 ml-3">
                    <img src="images/uploads/pressecs.jpg" class="card-img-top" />
                    <div class="card-body text-center">
                        <p>Pressecs d'aigua</p>
                        <p>de cal Ramon</p>
                        <a href="/fruita" type="button" class="btn btn-primary mt-3">Ves</a>
                    </div>
                </div>
                <div class="card mb-4 mt-4 mr-3 ml-3">
                    <img src="images/uploads/pesols.jpg" class="card-img-top" />
                    <div class="card-body text-center">
                        <p>Pesols frescos</p>
                        <p>de cal Ramon</p>
                        <a href="/verdura" type="button" class="btn btn-primary mt-3">Ves</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>

    <footer class="bg-primary">
        <section class="tekman-cont">
            <div class="section-cont">
                <div class="tekman-grid">
                    <h7 class="mt-4 mb-4 text-center"><strong>© 2021 Cal Ramon</strong></h7>
                    <h7 class="mt-4 mb-4 text-center"><strong>Castellbisbal, Catalunya</strong></h7>
                    <h7 class="mt-4 mb-4 text-center"><strong>Fet Per: Guillem Parals</strong></h7>
                    <h7 class="mt-4 mb-4 text-center"><strong>Cesar Martin</strong></h7>
                    <h7 class="mt-4 mb-4 text-center"><strong>Ramon Torras</strong></h7>
                </div>
            </div>
        </section>
        
    </footer>
    
