<%- layout('layouts/main.ejs')%>

    <section>
        <img class="img-fluid mt-3 mb-3" src="images/landing.jpg" style="width: 100%">
    </section>
    <div class="container">
    <section class="tekman-cont">
        <div class="section-cont">
            <div class="tekman-grid">
                <div class="tekman-caja">
                    <img src="images/cireres.jpeg">
                    <p class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse metus odio, semper in mi eget, tempus gravida lacus. Vivamus in cursus lectus. Nullam accumsan turpis erat, nec mollis purus molestie at. Pellentesque sed ligula elementum, luctus quam ut, feugiat libero.</p>
                </div>
                <div class="tekman-caja">
                    <img src="images/cistell.jpg">
                    <p class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse metus odio, semper in mi eget, tempus gravida lacus. Vivamus in cursus lectus. Nullam accumsan turpis erat, nec mollis purus molestie at. Pellentesque sed ligula elementum, luctus quam ut, feugiat libero.</p>
                </div>
                <div class="tekman-caja">
                    <img src="images/mongetes.jpg">
                    <p class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse metus odio, semper in mi eget, tempus gravida lacus. Vivamus in cursus lectus. Nullam accumsan turpis erat, nec mollis purus molestie at. Pellentesque sed ligula elementum, luctus quam ut, feugiat libero.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <img class="maquina" src="images/placeholder.png">
    </section>

    <section class="tekman-cont">
        <h2>Productes de Temporada</h2>
        <div class="section-cont">
            <div class="tekman-grid">
                <div class="tekman-caja">
                    <img src="images/unnamed.png">
                </div>
                <div class="tekman-caja">
                    <img src="images/unnamed.png">
                </div>
                <div class="tekman-caja">
                    <img src="images/unnamed.png">
                </div>
            </div>
        </div>
    </section>

    <footer>
        <h1>footer</h1>
    </footer>
    </div>
