<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cal Ramon</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Català</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Castellà</a>
              </li>
            </ul>
          </div>
          <a class="navbar-brand" href="/">CalRamonLogo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <% if (user){ %>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/profile">Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/logout">Sortir</a>
                </li>
              <% } else { %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/signup">Registrar-se</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/signin">Iniciar-se</a>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item">
              <a class="nav-link" href="#">Orígens</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Fruita</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Verdura</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hortalisses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Llegums</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Celler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacte</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>



    <div class="container">
        <% if(signupMessage.length > 0) { %>
    
            <div class="alert alert-danger">
                <%= signupMessage%>
            </div>
        
        <% } %>
    
        <% if(signinMessage.length > 0) { %>
        
            <div class="alert alert-danger">
                <%= signinMessage%>
            </div>
        
        <% } %>
        
    
        <%- body %>
    </div>

  
    
</body>
</html>